body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
img {
    width: 250px;      
    height: 350px;     
    object-fit: cover;
  }
  
  td, th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}

h1, h2, h3 {
    color: yellow
}

li {
    list-style-type: disc;
} 

a:hover{ 
    color: red;
}

table, td, tr, th {
    border: 1px solid;
}
