body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0b0d;
    color: #e6e6e6;
}
img {
    width: 250px;      
    height: 350px;     
    object-fit: cover;
  }
  
  td, th {
    border: 2px solid #ffedff;
}

table {
    border-collapse: collapse;
}

h1, h2, h3 {
    color: #c1121f
}

li {
    list-style-type: disc;
} 

a:hover{ 
    color: #ff5d55;
}

table, td, tr, th {
    border: 1px solid;
}
